 <form action='/ingredients/<%= ingredient._id %>/edit' method='post'>
      <input type='text' name='name' value="<%= ingredient.name %>">
      <input type='submit'>
 </form>

 <%= ingredient.name %>
